
                    html {
                        line-height: 1.15;
                        -ms-text-size-adjust: 100%;
                        -webkit-text-size-adjust: 100%
                    }

                    body {
                        margin: 0
                    }

                    article,aside,footer,header,nav,section {
                        display: block
                    }

                    h1 {
                        font-size: 2em;
                        margin: .67em 0
                    }

                    figcaption,figure,main {
                        display: block
                    }

                    figure {
                        margin: 1em 40px
                    }

                    hr {
                        box-sizing: content-box;
                        height: 0;
                        overflow: visible
                    }

                    pre {
                        font-family: monospace,monospace;
                        font-size: 1em
                    }

                    a {
                        background-color: transparent;
                        -webkit-text-decoration-skip: objects
                    }

                    a:active,a:hover {
                        outline-width: 0
                    }

                    abbr[title] {
                        border-bottom: 0;
                        text-decoration: underline;
                        text-decoration: underline dotted
                    }

                    b,strong {
                        font-weight: bolder
                    }

                    code,kbd,samp {
                        font-family: monospace,monospace;
                        font-size: 1em
                    }

                    dfn {
                        font-style: italic
                    }

                    mark {
                        background-color: #ff0;
                        color: #000
                    }

                    small {
                        font-size: 80%
                    }

                    sub,sup {
                        font-size: 75%;
                        line-height: 0;
                        position: relative;
                        vertical-align: baseline
                    }

                    sub {
                        bottom: -.25em
                    }

                    sup {
                        top: -.5em
                    }

                    audio,video {
                        display: inline-block
                    }

                    audio:not([controls]) {
                        display: none;
                        height: 0
                    }

                    img {
                        border-style: none
                    }

                    svg:not(:root) {
                        overflow: hidden
                    }

                    button,input,optgroup,select,textarea {
                        font-family: sans-serif;
                        font-size: 100%;
                        line-height: 1.15;
                        margin: 0
                    }

                    button,input {
                        overflow: visible
                    }

                    button,select {
                        text-transform: none
                    }

                    [type=reset],[type=submit],button,html [type=button] {
                        -webkit-appearance: button
                    }

                    [type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner {
                        border-style: none;
                        padding: 0
                    }

                    [type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring {
                        outline: 1px dotted ButtonText
                    }

                    fieldset {
                        border: 1px solid silver;
                        margin: 0 2px;
                        padding: .35em .625em .75em
                    }

                    legend {
                        box-sizing: border-box;
                        color: inherit;
                        display: table;
                        max-width: 100%;
                        padding: 0;
                        white-space: normal
                    }

                    progress {
                        display: inline-block;
                        vertical-align: baseline
                    }

                    textarea {
                        overflow: auto
                    }

                    [type=checkbox],[type=radio] {
                        box-sizing: border-box;
                        padding: 0
                    }

                    [type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button {
                        height: auto
                    }

                    [type=search] {
                        -webkit-appearance: textfield;
                        outline-offset: -2px
                    }

                    [type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration {
                        -webkit-appearance: none
                    }

                    ::-webkit-file-upload-button {
                        -webkit-appearance: button;
                        font: inherit
                    }

                    details,menu {
                        display: block
                    }

                    summary {
                        display: list-item
                    }

                    canvas {
                        display: inline-block
                    }

                    [hidden],template {
                        display: none
                    }

                    .cmd .format,.cmd .prompt,.cmd .prompt div,.terminal .terminal-output .format,.terminal .terminal-output div div {
                        display: inline-block
                    }

                    .cmd,.terminal h1,.terminal h2,.terminal h3,.terminal h4,.terminal h5,.terminal h6,.terminal pre {
                        margin: 0
                    }

                    .terminal h1,.terminal h2,.terminal h3,.terminal h4,.terminal h5,.terminal h6 {
                        line-height: 1.2em
                    }

                    .cmd .clipboard {
                        position: absolute;
                        left: -16px;
                        top: 0;
                        width: 10px;
                        height: 16px;
                        background: 0 0;
                        border: 0;
                        color: transparent;
                        outline: 0;
                        padding: 0;
                        resize: none;
                        z-index: 0;
                        overflow: hidden
                    }

                    .terminal .error {
                        color: red
                    }

                    .terminal {
                        padding: 10px;
                        position: relative;
                        overflow: auto
                    }

                    .cmd {
                        padding: 0;
                        height: 1.3em;
                        position: relative
                    }

                    .cmd .cursor.blink,.cmd .inverted,.terminal .inverted {
                        background-color: #aaa;
                        color: #000
                    }

                    .cmd .cursor.blink {
                        -webkit-animation: terminal-blink 1s infinite steps(1,start);
                        -moz-animation: terminal-blink 1s infinite steps(1,start);
                        -ms-animation: terminal-blink 1s infinite steps(1,start);
                        animation: terminal-blink 1s infinite steps(1,start)
                    }

                    @-webkit-keyframes terminal-blink {
                        0%,100% {
                            background-color: #000;
                            color: #aaa
                        }

                        50% {
                            background-color: #bbb;
                            color: #000
                        }
                    }

                    @-ms-keyframes terminal-blink {
                        0%,100% {
                            background-color: #000;
                            color: #aaa
                        }

                        50% {
                            background-color: #bbb;
                            color: #000
                        }
                    }

                    @-moz-keyframes terminal-blink {
                        0%,100% {
                            background-color: #000;
                            color: #aaa
                        }

                        50% {
                            background-color: #bbb;
                            color: #000
                        }
                    }

                    @keyframes terminal-blink {
                        0%,100% {
                            background-color: #000;
                            color: #aaa
                        }

                        50% {
                            background-color: #bbb;
                            color: #000
                        }
                    }

                    .cmd .prompt,.terminal .terminal-output div div {
                        display: block;
                        line-height: 14px;
                        height: auto
                    }

                    .cmd .prompt {
                        float: left
                    }

                    .cmd,.terminal {
                        background-color: rgb(255, 255, 255)
                    }

                    .terminal-output>div {
                        min-height: 14px
                    }

                    .terminal-output>div>div * {
                        word-wrap: break-word
                    }

                    .terminal .terminal-output div span {
                        display: inline-block
                    }

                    .cmd span {
                        float: left
                    }

                    .cmd div,.cmd span,.terminal h1,.terminal h2,.terminal h3,.terminal h4,.terminal h5,.terminal h6,.terminal pre,.terminal td,.terminal-output a,.terminal-output span {
                        -webkit-touch-callout: initial;
                        -webkit-user-select: initial;
                        -khtml-user-select: initial;
                        -moz-user-select: initial;
                        -ms-user-select: initial;
                        user-select: initial
                    }

                    .terminal,.terminal-output,.terminal-output div {
                        -webkit-touch-callout: none;
                        -webkit-user-select: none;
                        -khtml-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none
                    }

                    @-moz-document url-prefix() {
                        .terminal,.terminal-output,.terminal-output div {
                            -webkit-touch-callout: initial;
                            -webkit-user-select: initial;
                            -khtml-user-select: initial;
                            -moz-user-select: initial;
                            -ms-user-select: initial;
                            user-select: initial
                        }
                    }

                    .terminal table {
                        border-collapse: collapse
                    }

                    .terminal td {
                        border: 1px solid #aaa
                    }

                    .cmd .prompt span::-moz-selection,.cmd div::-moz-selection,.cmd>span::-moz-selection,.terminal .terminal-output div div a::-moz-selection,.terminal .terminal-output div div::-moz-selection,.terminal .terminal-output div span::-moz-selection,.terminal h1::-moz-selection,.terminal h2::-moz-selection,.terminal h3::-moz-selection,.terminal h4::-moz-selection,.terminal h5::-moz-selection,.terminal h6::-moz-selection,.terminal pre::-moz-selection,.terminal td::-moz-selection {
                        background-color: rgb(71, 88, 219);
                        color: #000
                    }

                    .cmd .prompt span::selection,.cmd div::selection,.cmd>span::selection,.terminal .terminal-output div div a::selection,.terminal .terminal-output div div::selection,.terminal .terminal-output div span::selection,.terminal h1::selection,.terminal h2::selection,.terminal h3::selection,.terminal h4::selection,.terminal h5::selection,.terminal h6::selection,.terminal pre::selection,.terminal td::selection {
                        background-color: #aaa;
                        color: #000
                    }

                    .terminal .terminal-output div.error,.terminal .terminal-output div.error div {
                        color: red
                    }

                    .tilda {
                        position: fixed;
                        top: 0;
                        left: 0;
                        width: 100%;
                        z-index: 1100
                    }

                    .clear {
                        clear: both
                    }

                    body {
                        background-color: #000
                    }

                    .cmd,.terminal,.terminal .prompt,.terminal .terminal-output div div,body {
                        color: rgb(0, 0, 0);
                        /* font-family:monospace,fixed; */
                        font-size: 15px;
                        line-height: 18px;
                    }

                    .terminal a,.terminal a:hover,a,a:hover {
                        color: #6c71c4
                    }

                    .spaced {
                        margin: 15px 0
                    }

                    .spaced-top {
                        margin: 15px 0 0
                    }

                    .spaced-bottom {
                        margin: 0 0 15px
                    }

                    .configure {
                        margin: 20px
                    }

                    .configure .variable {
                        color: #d33682
                    }

                    .configure p,.configure ul {
                        margin: 5px 0 0
                    }